<link href="node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">


<h2>{{title}}</h2>
<h5>{{subTitle}}</h5>

<mat-card class="material-card">
    <input #entry>
    <button (click)="pushPayloadToSubjects(entry.value)">Add</button>

<mat-card class="material-card">
    <mat-card-header>Numbers + Letters List</mat-card-header>
    <ul><li *ngFor="let entry of all">{{entry}}</li></ul>
</mat-card>

<mat-card class="material-card">
     <mat-card-header>Number List</mat-card-header>
    <ul><li *ngFor="let entry of numbers">{{entry}}</li></ul>
</mat-card>

<mat-card class="material-card">
    <mat-card-header>Letter List</mat-card-header>
    <ul><li *ngFor="let entry of letters">{{entry}}</li></ul>
</mat-card>

</mat-card>